<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Growth</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main class="flex overflow-hidden flex-col items-center px-10 pt-20 text-base bg-white max-md:px-5 max-md:pb-20">
      <div class="flex flex-col max-w-full w-[480px]">
        <header class="flex gap-3 items-center self-center max-w-full text-6xl font-bold text-black whitespace-nowrap h-[120px] w-[300px] max-md:text-4xl">
          <img
            src="https://api.builder.io/api/v1/image/assets/863c3774457247cf9941fba7937e9907/94785e9c07fee37f095b249f59aeba4255d32350?placeholderIfAbsent=true"
            alt="Growth Logo"
            class="object-contain w-[80px]"
          />
          <h1 class="max-md:text-4xl">growth</h1>
        </header>

        <form action="/login" method="POST" class="flex flex-col w-full">
          <div class="flex flex-col">
            <label for="email" class="self-start mt-16 text-base font-medium text-gray-500 max-md:mt-8">
              Email
            </label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Masukkan Email Usaha"
              class="px-8 py-4 mt-2 text-base text-black rounded-2xl bg-gray-400 bg-opacity-40 focus:outline-none focus:ring-2 focus:ring-orange-500"
              required
            />
          </div>

          <div class="flex flex-col">
            <label for="password" class="self-start mt-8 text-base font-medium text-gray-500">
              Password
            </label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Masukkan Password"
              class="px-8 py-4 mt-2 text-base text-black rounded-2xl bg-gray-400 bg-opacity-40 focus:outline-none focus:ring-2 focus:ring-orange-500"
              required
            />
          </div>

        <button type="submit" class="flex overflow-hidden gap-2.5 items-start self-end px-10 py-3 mt-10 text-base font-bold text-center text-white whitespace-nowrap bg-orange-500 rounded-xl shadow-2xl max-md:px-5 hover:bg-orange-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2" > Login </button>
        </form>

        <p class="self-start mt-6 text-base text-gray-600">
          Belum Punya Akun?
          <a href="register" class="text-yellow-400 hover:underline focus:outline-none focus:underline">
            Daftar
          </a>
        </p>
      </div>
    </main>


  </body>
</html>