<!-- Navigation -->
<nav class="box-border flex relative z-10 justify-between items-center px-20 py-10 m-0 w-full max-md:px-10 max-md:py-8 max-sm:flex-col max-sm:gap-5 max-sm:p-5">
  <div class="box-border flex gap-20 items-center p-0 m-0 max-md:gap-10">
    <div class="box-border flex gap-0 items-center p-0 m-0">
      <img src="https://api.builder.io/api/v1/image/assets/TEMP/f8ad5f0c4ddd7d913580851fc927c0adc20c93a6?width=92" alt="" class="box-border p-0 m-0 h-[88px] w-[46px]" />
      <h1 class="box-border p-0 m-0 text-5xl font-bold text-black">growth</h1>
    </div>
    <div class="box-border flex gap-20 items-center p-0 m-0 max-md:gap-10 max-sm:hidden">
      <a href="#" class="box-border p-0 m-0 text-lg font-medium tracking-wide cursor-pointer duration-[0.3s] ease-[ease] text-slate-800 transition-[color] max-md:text-base hover:text-teal-700">Home</a>
      <a href="#" class="box-border p-0 m-0 text-lg font-medium tracking-wide cursor-pointer duration-[0.3s] ease-[ease] text-slate-800 transition-[color] max-md:text-base hover:text-teal-700">Fitur</a>
      <a href="#" class="box-border p-0 m-0 text-lg font-medium tracking-wide cursor-pointer duration-[0.3s] ease-[ease] text-slate-800 transition-[color] max-md:text-base hover:text-teal-700">Blog</a>
      <a href="#" class="box-border p-0 m-0 text-lg font-medium tracking-wide cursor-pointer duration-[0.3s] ease-[ease] text-slate-800 transition-[color] max-md:text-base hover:text-teal-700">About Us</a>
    </div>
  </div>
  <div class="box-border flex gap-5 items-center p-0 m-0 max-sm:gap-2.5">
    <a href="auth/login">
      <button class="box-border flex items-center px-10 py-5 m-0 bg-white rounded-xl transition-all cursor-pointer duration-[0.3s] ease-[ease] max-sm:px-6 max-sm:py-4 hover:shadow-lg">
        <span class="box-border p-0 m-0 text-base font-medium tracking-wide text-teal-700">LOG IN</span>
      </button>
    </a>
    <a href="auth/register">
      <button class="box-border flex items-center px-10 py-5 m-0 bg-gray-500 rounded-xl transition-all cursor-pointer duration-[0.3s] ease-[ease] max-sm:px-6 max-sm:py-4 hover:bg-gray-600">
        <span class="box-border p-0 m-0 text-base font-medium tracking-wide text-white">SIGN UP</span>
      </button>
    </a>
  </div>
</nav>